@import "./variables.module.scss";
@mixin headerTxt {
  font-size: .8rem;
  line-height: initial;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin h1Title {
  text-align: center;
  //color: $secondaryColor;
  color: #a6344c;
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  font-weight: 900;
}

@mixin secondayNavTxt {
  line-height: initial;
  background-color: transparent;
  color: $txtColor;
  font-weight: 400;
  font-size: .8rem;
  cursor: pointer;
  box-shadow: none;
}

@mixin homePageTitle {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  // color: $secondaryColor;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: .05rem;
}

@mixin itemHeaderBgColor {
  background-color: $pageBgColor;
  background: linear-gradient(180deg, rgba(217, 230, 236, 1) 96%, rgba(208, 219, 224, 1) 100%);
}


@mixin focusVisibleForDark {
  outline: 3px solid $tertiaryColor !important;
  //border-radius: 3px;
}

@mixin minNavBottomBorder {
  // border-bottom: 1px solid #343b44;
  box-shadow: $globalBoxShadowA;
}

@mixin masonryGrid {
  .masonryGrid {
    display: flex;
    max-width: 1200px;
    //margin-left: -px;
    /* gutter size offset */
    width: auto;
  }

  .masonryGridColumn {
    padding-left: 32px;
    /* gutter size */
    background-clip: padding-box;
  }

  .masonryGridColumn:first-of-type {
    padding-left: 0px;
    padding-right: 32px;

    @include respond-below(sm) {
      padding-right: 0;
    }
  }
}